.header {
    height: 85vh;
    background-image: url(../images/bg01.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    &__title {
        position: absolute;
        top: 50vh;
        left: 36rem;
        &__logo {
            //green flower logo
            &--1 {

            }
            // mrj logo
            &--2 {
                height: auto;
                width: 25rem;
            }
        }
    }
}